/*
	Main
*/
* {
	--bs-body-font-family: AcherusgrotesqueRegular, serif
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/*
	Bootstrap colors
*/
.btn-outline-danger {
	--bs-btn-color: #ff0000;
	--bs-btn-border-color: #ff0000;
}


/*
	Fonts
*/
@font-face {
	font-family: AcherusgrotesqueRegular;
	src: url(../../fonts/acherusgrotesque-regular.otf);
}

/*
	Navbar
*/
nav#navbartop {
	div.navbar-fill {
		width: 15%;
	}

	a.navbar-brand {
		img {
			height: 50px;
		}
	}
}

.navbar-toggler {
	width: 30px;
	height: 30px;
	padding: 0 !important;
	border: none !important;
	box-shadow: none !important;
	outline: none !important;
	position: relative;
	transition: 0.5s ease-in-out;
	display: flex;
	justify-content: center;

	span {
		margin: 0;
		padding: 0;

		&.toggler-icon {
			display: block;
			position: absolute;
			height: 2px;
			width: 100%;
			background-color: rgba(0,0,0,0.55);
			border-radius: 2px;
			left: 0;
			opacity: 1;
			transform: rotate(0deg);
			transition: 0.25s ease-in-out;

			&.middle-bar {
				margin-top: 0;
			}
		}

		&.top-bar {
			margin-top: 0;
			transform: rotate(135deg);
		}

		&.middle-bar {
			opacity: 0;
			filter: alpha(opacity=0);
		}

		&.bottom-bar {
			margin-top: 0;
			transform: rotate(-135deg);
		}
	}

	&.collapsed {
		span {
			&.toggler-icon {
				&.top-bar {
					margin-top: -20px;
					transform: rotate(0deg);
				}

				&.middle-bar {
					opacity: 1;
					filter: alpha(opacity=100);
				}

				&.bottom-bar {
					margin-top: 20px;
					transform: rotate(0deg);
				}
			}
		}
	}
}

/*
	Index
*/
// Main
section#indexMain {
	background: url("../../imgs/index/mainbackground.webp");
	height: calc(100vh - 60px);

	div.text-container {
		margin-left: auto;
		text-align: right;
		height: 100%;
		display: flex;
		align-items: center;
		animation: animMainText 0.75s ease-in-out;

		@media (min-width: 768px) {
			width: 80%
		}

		@keyframes animMainText {
			0% {
				transform: translateX(-1000px);
			}
			100% {
				transform: translateX(0);
			}
		}

		div.text-wrapper {
			display: block;

			div.header-container {
				h1 {
					color: #ffffff;
					font-size: 55px;
					text-shadow: 0 0 5px #000000;
				}
			}

			div.subtitle-container {
				h5 {
					color: #ffffff;
					text-shadow: 0 0 5px #000000;
				}
			}


			div.divider {
				display: block;
				height: 5px;
				width: 100%;
				background-color: #ff0000;
			}
		}
	}

	div.img-container {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		animation: animMainImg 0.75s ease-out;

		@keyframes animMainImg {
			0% {
				transform: translateY(-800px);
			}
			100% {
				transform: translateY(0);
			}
		}

		img {
			width: 50%;
		}
	}
}

/*
	About
*/
section#about {
	background-color: #dddddd;

	div.about-text-col {
		background-color: #ffffff;

		div.text-container {
			div.header-wrapper {
				h1 {
					font-size: 50px;
					font-weight: 300;
					color: #c6c6c6;
					margin-bottom: 0;
				}
			}

			div.divider {
				background-color: #ff0000;
				height: 5px;
				width: 100px;
			}
		}
	}

	div.about-img-col {
		background-color: #ffffff;

		div.img-container {
			overflow: hidden;
			max-height: 100%;
			img {
				width: 100%;
			}
		}
	}
}

/*
	Offer
*/
section#offer {
	div.container {
		div.row {
			div.offer-container {
				border-radius: 20px;
				width: 100%;
				background-color: #dddddd;
				border: #dddddd solid 2px;
				display: inline-grid;
				grid-template-columns: 20% 80%;
				transition: 0.5s;
				height: 100%;

				@media(max-width: 767px) {
					margin-bottom: 2%;
				}

				&:hover {
					transform: translateY(-10px);
					box-shadow: 0 25px 15px 5px rgba(0, 0, 0, 0.3);

					div.icon-container {
						border-color: #ff0000;
						i {
							&::before {
								color: #ff0000;
							}
						}
					}

					div.text-container {
						border-color: #ff0000;
					}
				}

				div.icon-container {
					width: 100%;
					text-align: center;
					background-color: #ffffff;
					border-bottom-left-radius: 15px;
					border-top-left-radius: 15px;
					height: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
					border-top: #ffffff solid 2px;
					border-left: #ffffff solid 2px;
					border-bottom: #ffffff solid 2px;
					transition: 0.5s;

					i {
						&::before {
							transition: 0.5s;

							@media(min-width: 992px) {
								transform: scale(400%);
							}

							@media(max-width: 991px) and (min-width: 351px) {
								transform: scale(300%);
							}

							@media(max-width: 350px) {
								transform: scale(250%);
							}
						}
					}
				}

				div.text-container {
					width: 100%;
					border-top: #ffffff solid 2px;
					border-right: #ffffff solid 2px;
					border-bottom: #ffffff solid 2px;
					border-top-right-radius: 15px;
					border-bottom-right-radius: 15px;
					transition: 0.5s;

					div.header-container {
						h3 {
							font-weight: 300;
							margin-bottom: 0;
						}

					}

					div.p-container {
						p {
							margin-bottom: 0;
						}
					}
				}
			}
		}
	}
}