/*
	Main
*/
* {
	--bs-body-font-family: AcherusgrotesqueRegular, serif
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/*
	Bootstrap colors
*/
.btn-outline-danger {
	--bs-btn-color: #ff0000;
	--bs-btn-border-color: #ff0000;
}


/*
	Fonts
*/
@font-face {
	font-family: AcherusgrotesqueRegular;
	src: url(../../fonts/acherusgrotesque-regular.otf);
}

/*
	Navbar
*/
nav#navbartop {
	div.navbar-fill {
		width: 15%;
	}

	a.navbar-brand {
		img {
			height: 50px;
		}
	}
}

.navbar-toggler {
	width: 30px;
	height: 30px;
	padding: 0 !important;
	border: none !important;
	box-shadow: none !important;
	outline: none !important;
	position: relative;
	transition: 0.5s ease-in-out;
	display: flex;
	justify-content: center;

	span {
		margin: 0;
		padding: 0;

		&.toggler-icon {
			display: block;
			position: absolute;
			height: 2px;
			width: 100%;
			background-color: rgba(0,0,0,0.55);
			border-radius: 2px;
			left: 0;
			opacity: 1;
			transform: rotate(0deg);
			transition: 0.25s ease-in-out;

			&.middle-bar {
				margin-top: 0;
			}
		}

		&.top-bar {
			margin-top: 0;
			transform: rotate(135deg);
		}

		&.middle-bar {
			opacity: 0;
			filter: alpha(opacity=0);
		}

		&.bottom-bar {
			margin-top: 0;
			transform: rotate(-135deg);
		}
	}

	&.collapsed {
		span {
			&.toggler-icon {
				&.top-bar {
					margin-top: -20px;
					transform: rotate(0deg);
				}

				&.middle-bar {
					opacity: 1;
					filter: alpha(opacity=100);
				}

				&.bottom-bar {
					margin-top: 20px;
					transform: rotate(0deg);
				}
			}
		}
	}
}

/*
	Footer
*/
footer {
	position: relative;
	z-index: 999;

	section {
		div {
			a {
				i.footer-icon {
					text-decoration: none;
					transition: 0.5s;

					&:hover {
						color: #ff0000 !important;
					}
				}
			}
		}

		div.container {
			div.row {
				div {
					p {
						a.footer-text {
							text-decoration: none;
							transition: 0.5s;

							&:hover {
								color: #ff0000 !important;
							}
						}
					}

					div {
						margin-bottom: 16px;
					}
				}
			}
		}
	}

	div.footer-copyright {
		background-color: rgba(0, 0, 0, 0.05);
		border-radius: 10px;

		a {
			text-decoration: none;
			transition: 0.5s;

			&:hover {
				color: #ff0000 !important;
			}
		}
	}
}
/*
	Legals
*/
// Terms
section#terms {
	width: 100%;

	iframe {
		width: 100%;
		height: calc(100vh - 60px);
	}
}

/*
	Index
*/
// Main && error
section#indexMain, section#error404 {
	background: url("../../imgs/index/mainbackground.webp");
	height: calc(100vh - 60px);

	button.btn-outline-danger {
		transition: 0.5s;

		&:hover {
			color: #ffffff;
			background-color: #ff0000;
		}
	}

	div.text-container {
		margin-left: auto;
		height: 100%;
		display: flex;
		align-items: center;
		animation: animMainText 0.75s ease-in-out;
		@media (min-width: 360px) {
			text-align: right;
		}

		@media (min-width: 768px) {
			width: 80%
		}

		@keyframes animMainText {
			0% {
				transform: translateX(-1000px);
			}
			100% {
				transform: translateX(0);
			}
		}

		div.text-wrapper {
			display: block;

			div.header-container {
				h1 {
					color: #ffffff;
					text-shadow: 0 0 5px #000000;
					@media (min-width: 360px) {
						font-size: 55px;
					}
					@media (max-width: 359px) {
						font-size: 40px;
					}
				}
			}

			div.subtitle-container {
				h5 {
					color: #ffffff;
					text-shadow: 0 0 5px #000000;
				}
			}


			div.divider {
				display: block;
				height: 5px;
				width: 100%;
				background-color: #ff0000;
			}
		}
	}

	div.img-container {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		animation: animMainImg 0.75s ease-out;

		@keyframes animMainImg {
			0% {
				transform: translateY(-800px);
			}
			100% {
				transform: translateY(0);
			}
		}

		img {
			width: 50%;
		}
	}
}

// About
section#about {
	background-color: #dddddd;
	scroll-margin-top: 60px;

	div.about-text-col {
		background-color: #ffffff;

		div.text-container {
			div.header-wrapper {
				h1 {
					font-size: 50px;
					font-weight: 300;
					color: #c6c6c6;
					margin-bottom: 0;
				}
			}

			div.divider {
				background-color: #ff0000;
				height: 5px;
				width: 100px;
			}
		}
	}

	div.about-img-col {
		background-color: #ffffff;

		div.img-container {
			overflow: hidden;
			max-height: 100%;
			img {
				width: 100%;
			}
		}
	}
}

// Offer
section#offer {
	scroll-margin-top: 60px;

	div.container {
		div.offer-header-container {
			text-align: center;

			h1 {
				font-size: 50px;
				font-weight: 300;
				color: #c6c6c6;
				margin-bottom: 0;
			}
		}

		div.divider {
			background-color: #ff0000;
			width: 100px;
			height: 5px;
		}

		div.row {
			div.offer-container {
				border-radius: 20px;
				width: 100%;
				background-color: #dddddd;
				border: #dddddd solid 2px;
				display: inline-grid;
				grid-template-columns: 20% 80%;
				transition: 0.5s;
				height: 100%;

				@media(max-width: 767px) {
					margin-bottom: 2%;
				}

				&:hover {
					transform: translateY(-10px);
					box-shadow: 0 25px 15px 5px rgba(0, 0, 0, 0.3);

					div.icon-container {
						border-color: #ff0000;
						i {
							&::before {
								color: #ff0000;
							}
						}
					}

					div.text-container {
						border-color: #ff0000;
					}
				}

				div.icon-container {
					width: 100%;
					text-align: center;
					background-color: #ffffff;
					border-bottom-left-radius: 15px;
					border-top-left-radius: 15px;
					height: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
					border-top: #ffffff solid 2px;
					border-left: #ffffff solid 2px;
					border-bottom: #ffffff solid 2px;
					transition: 0.5s;

					i {
						&::before {
							transition: 0.5s;

							@media(min-width: 992px) {
								transform: scale(400%);
							}

							@media(max-width: 991px) and (min-width: 351px) {
								transform: scale(300%);
							}

							@media(max-width: 350px) {
								transform: scale(250%);
							}
						}
					}
				}

				div.text-container {
					width: 100%;
					border-top: #ffffff solid 2px;
					border-right: #ffffff solid 2px;
					border-bottom: #ffffff solid 2px;
					border-top-right-radius: 15px;
					border-bottom-right-radius: 15px;
					transition: 0.5s;

					div.header-container {
						h3 {
							font-weight: 300;
							margin-bottom: 0;
						}

					}

					div.p-container {
						p {
							margin-bottom: 0;
						}
					}
				}
			}
		}
	}
}

// Projects
section#projects {
	scroll-margin-top: 60px;
	background-color: #dddddd;

	div.projects-collapse {
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.3s ease-in-out;
	}

	div.show-more-container {
		p.projects-collapse-button {
			cursor: pointer;
			transition: 0.5s;

			&:hover {
				color: #ff0000;
			}
		}
	}

	div.header-container {
		text-align: center;

		h1 {

			font-weight: 300;
			color: #000000;
			margin-bottom: 0;
			@media (min-width: 360px) {
				font-size: 50px;
			}
			@media (max-width: 359px) {
				font-size: 40px;
			}
		}

		div.divider {
			background-color: #ff0000;
			width: 100px;
			height: 5px;
		}
	}

	div.img-container {
		display: flex;
		justify-content: center;

		img {
			transition: 0.5s;
			cursor: pointer;

			&:hover {
				transform: translateY(-6px);
				box-shadow: 0 15px 15px 5px rgba(0, 0, 0, 0.3);
			}
		}
	}
}

div.projects-gallery {
	display: none;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	z-index: 1;
	background-color: rgba(0,0,0,0.85);
	justify-content: center;
	align-items: center;

	&.projects-gallery-show {
		display: flex !important;
	}

	div.close-container {
		position: absolute;
		right: 10px;
		top: 70px;
		width: 50px;
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: center;

		i {
			transition: 0.5s;
			cursor: pointer;

			&:hover {
				transform: rotate(180deg);
			}

			&::before {
				color: #ffffff;
				transform: scale(300%);
			}
		}
	}

	div.gallery-container {
		display: flex;
		@media (min-width: 360px) {
			width: 385px;
		}
		@media (max-width: 359px) and (min-width: 301px) {
			width: 290px;
		}
		@media (max-width: 300px) {
			width: 280px;
		}

		div.left-container {
			display: inline-block;
			@media (min-width: 360px) {
				max-width: 300px;
			}
			@media (max-width: 359px) and (min-width: 301px) {
				width: 230px;
			}
			@media (max-width: 300px) {
				width: 220px;
			}

			div.main-image-container {
				display: flex;
				justify-content: space-between;

				img {
					width: 100%;
				}

				div.arrows-container {
					position: absolute;
					display: flex;
					justify-content: space-between;
					@media (min-width: 360px) {
						width: 300px;
						height: 400px;
					}
					@media (max-width: 359px) and (min-width: 301px) {
						width: 230px;
						height: 307px;
					}
					@media (max-width: 300px) {
						width: 220px;
						height: 293px;
					}

					div.arrow-container {
						display: flex;
						justify-content: center;
						align-items: center;
						width: 30px;
						cursor: pointer;
						transition: 0.5s;

						&.arrow-container-left {
							&:hover {
								i {
									transform: translateX(-10px) !important;
								}
							}
						}

						&.arrow-container-right {
							&:hover {
								i {
									transform: translateX(10px) !important;
								}
							}
						}

						i {
							transition: 0.5s;

							&::before {
								color: #ffffff;
								transform: scale(300%);
							}
						}
					}
				}
			}

			div.title-container {
				text-align: center;

				h5 {
					color: #ffffff;
				}
			}
		}

		div.right-container {
			display: inline-block;
			margin-left: 15px;
			@media (min-width: 360px) {
				max-width: 70px;
			}
			@media (max-width: 359px) {
				width: 45px;
			}

			div.other-image-container {
				img {
					width: 100%;
					top: 0;
					margin-bottom: 10px;
					cursor: pointer;
					transition: 0.5s;

					&:hover {
						filter: brightness(50%);
					}
				}
			}
		}
	}
}

// Clients
section#clients {
	scroll-margin-top: 60px;

	div.header-container {
		text-align: center;

		h1 {
			font-weight: 300;
			color: #c6c6c6;
			margin-bottom: 0;
			@media (min-width: 360px) {
				font-size: 50px;
			}
			@media (max-width: 359px) {
				font-size: 40px;
			}
		}

		div.divider {
			background-color: #ff0000;
			width: 100px;
			height: 5px;
		}
	}

	div.img-container {
		display: flex;
		justify-content: center;

		img {
			width: 200px;
			transition: 0.5s;

			&:hover {
				transform: translateY(-10px);
			}
		}
	}
}

// Map
section#map {
	scroll-margin-top: 60px;
	background-color: #dddddd;

	div.header-container {
		text-align: center;
		width: 100%;

		h1 {
			color: #000000;
			font-weight: 300;
			font-size: 50px;
		}

		div.divider {
			background-color: #ff0000;
			width: 100px;
			height: 5px;
		}
	}

	div.description-container {
		background-color: #ffffff;
		height: 100%;
		width: 100%;
		border-radius: 10px;

		div#mapClickPinContainer {
			text-align: center;

			p {
				color: #000000;
				font-style: italic;
			}
		}

		div.details-container {
			display: none;
		}
	}

	div.map-container {
		width: 100%;
		height: 500px;
		border-radius: 10px;
		border: solid 5px #ffffff;
	}
}

// Contact
section#contact {
	scroll-margin-top: 60px;

	div.header-container {
		width: 100%;
		text-align: center;

		h1 {
			color: #c6c6c6;
			font-weight: 300;
			font-size: 50px;
		}

		div.divider {
			background-color: #ff0000;
			width: 100px;
			height: 5px;
		}
	}

	div.form-container {
		border-radius: 10px;
		background-color: #dddddd;
		height: 100%;
		transition: 0.5s ease-in-out;

		div.form-wrapper {
			div.contact-alert {
				margin-bottom: 0;
				top: 65px;
				left: 5px;
				margin-right: 5px;
				z-index: 9999;
				transition: all 0.5s ease-in-out;
				transform: translateX(-650px);
				padding-right: 3rem;

				button.contact-alert-close {
					position: absolute;
					top: 0;
					right: 0;
					z-index: 2;
					padding: 1.25rem 1rem;
				}

				&.contact-alert-active {
					transform: translateX(0);
				}
			}

			form {
				div.contact-info {
					background-color: #ffffff;
					border-radius: 10px;

					div.header-container {
						text-align: start;

						h5 {
							margin-bottom: 0;
						}
					}

					div.contact-info-phone-container {
						border-radius: 15px;

						div.countrycode-container {
							display: inline-block;

							@media(min-width: 1701px){
								width: 15%;
							}

							@media(min-width: 1101px) and (max-width: 1700px) {
								width: 25%;
							}

							@media(min-width: 768px) and (max-width: 1100px) {
								width: 35%;
							}

							@media(min-width: 500px) and (max-width: 767px) {
								width: 15%;
							}

							@media(min-width: 350px) and (max-width: 499px) {
								width: 25%;
							}

							@media(max-width: 349px) {
								width: 30%;
							}

							input.contact-info-countrycode-input {
								width: 100%;
								border-top-left-radius: 15px;
								border-bottom-left-radius: 15px;
								border-bottom: 2px solid #ff0000;
								border-top: 2px solid #ff0000;
								border-left: 2px solid #ff0000;
								border-right: 1px solid #ff0000;
								outline: none;
								transition: 0.5s;

								&.highlight {
									background-color: rgba(255, 0, 0, 0.2) !important;
								}

								&:focus {
									border-bottom: 2px solid #dddddd;
									border-top: 2px solid #dddddd;
									border-left: 2px solid #dddddd;
									border-right: 1px solid #dddddd;
								}
							}
						}


						div.phone-container {
							display: inline-block;

							@media(min-width: 1701px){
								width: 85%;
							}

							@media(min-width: 1101px) and (max-width: 1700px) {
								width: 75%;
							}

							@media(min-width: 768px) and (max-width: 1100px) {
								width: 65%;
							}

							@media(min-width: 500px) and (max-width: 767px) {
								width: 85%;
							}

							@media(min-width: 350px) and (max-width: 499px) {
								width: 75%;
							}

							@media(max-width: 349px) {
								width: 70%;
							}

							input.contact-info-phone-input {
								width: 100%;
								border-top-right-radius: 15px;
								border-bottom-right-radius: 15px;
								border-bottom: 2px solid #ff0000;
								border-top: 2px solid #ff0000;
								border-left: 1px solid #ff0000;
								border-right: 2px solid #ff0000;
								outline: none;
								transition: 0.5s;

								&.highlight {
									background-color: rgba(255, 0, 0, 0.2) !important;
								}

								&:focus {
									border-bottom: 2px solid #dddddd;
									border-top: 2px solid #dddddd;
									border-left: 1px solid #dddddd;
									border-right: 2px solid #dddddd;
								}
							}
						}
					}

					input.contact-info-text-input {
						width: 100%;
						border-radius: 15px;
						border: 2px solid #ff0000;
						transition: 0.5s;
						outline: none;

						&.highlight {
							background-color: rgba(255, 0, 0, 0.2) !important;
						}

						&:focus {
							border: 2px solid #dddddd;
						}
					}
				}

				div.contact-submit-container {
					width: 100%;
					display: flex;
					justify-content: center;

					span.contact-submit-loader {
						height: 30px !important;
						width: 30px !important;

						&.text {
							display: none;
						}

						&.loader {
							display: inline-block;
						}
					}

					button.contact-submit-button {
						border-radius: 15px;
						border: 2px solid #ff0000;
						transition: 0.5s;
						outline: none;
						width: 100px;

						&.text {
							display: inline-block;
						}

						&.loader {
							display: none;
						}

						&:hover {
							border: 2px solid #dddddd;
						}
					}
				}

				div.contact-terms-container {
					text-align: center;
					width: 100%;

					label.contact-terms-label {
						&.highlight {
							&:before {
								box-shadow: inset 0 1px 3px rgba(0,0,0, .1), 0 0 0 6px rgba(255, 0, 0, .2) !important;
							}
						}
					}

					label.contact-terms-label {
						user-select: none;
						-webkit-user-select: none;
						-ms-user-select: none;

						a.contact-terms-a {
							color: #ff0000;
							transition: 0.5s;
							text-decoration: none;

							&:hover {
								color: #ff6161;
							}
						}
					}

					input[type="checkbox"].contact-terms-checkbox:not(:checked),
					input[type="checkbox"].contact-terms-checkbox:checked {
						position: absolute;
						left: 0;
						opacity: 0.01;
					}

					input[type="checkbox"].contact-terms-checkbox:not(:checked) + label.contact-terms-label,
					input[type="checkbox"].contact-terms-checkbox:checked + label.contact-terms-label {
						position: relative;
						padding-left: 2.3em;
						font-size: 1.05em;
						line-height: 1.7;
						cursor: pointer;
					}

					input[type="checkbox"].contact-terms-checkbox:not(:checked) + label.contact-terms-label:before,
					input[type="checkbox"].contact-terms-checkbox:checked + label.contact-terms-label:before {
						content: '';
						position: absolute;
						left: 0;
						top: 0;
						width: 1.4em;
						height: 1.4em;
						border: 1px solid #aaa;
						background: #FFF;
						border-radius: .2em;
						box-shadow: inset 0 1px 3px rgba(0,0,0, .1), 0 0 0 rgba(255, 0, 0, .2);
						-webkit-transition: all .275s;
						transition: all .275s;
					}

					input[type="checkbox"].contact-terms-checkbox:not(:checked) + label.contact-terms-label:after,
					input[type="checkbox"].contact-terms-checkbox:checked + label.contact-terms-label:after {
						content: '✕';
						position: absolute;
						top: .548em;
						left: .12em;
						font-size: 1.375em;
						color: #ff0000;
						line-height: 0;
						-webkit-transition: all .2s;
						transition: all .2s;
					}

					input[type="checkbox"].contact-terms-checkbox:not(:checked) + label.contact-terms-label:after {
						opacity: 0;
						-webkit-transform: scale(0) rotate(45deg);
						transform: scale(0) rotate(45deg);
					}

					input[type="checkbox"].contact-terms-checkbox:checked + label.contact-terms-label:after {
						opacity: 1;
						-webkit-transform: scale(1) rotate(0);
						transform: scale(1) rotate(0);
					}

					input[type="checkbox"].contact-terms-checkbox:checked:focus + label.contact-terms-label:before,
					input[type="checkbox"].contact-terms-checkbox:not(:checked):focus + label.contact-terms-label:before {
						box-shadow: inset 0 1px 3px rgba(0,0,0, .1), 0 0 0 6px rgba(255, 0, 0, .2);
					}
				}

				div.contact-info-error-container {
					width: 100%;
					text-align: center;
					display: block;

					p {
						color: #ff0000;
						font-style: italic;
						margin-bottom: 0;
					}
				}
			}

			form.contact-offer {
				div.header-container {
					width: 100%;
					text-align: start;
				}

				div.contact-offer-inputs-container {
					background-color: #ffffff;
					border-radius: 10px;

					div.contact-offer-additional-info {
						textarea.contact-offer-additional-info {
							height: 100px;
							border-radius: 15px;
							border: 2px solid #ff0000;
							resize: none;
							outline: none;
							transition: 0.5s;

							&:focus {
								border: 2px solid #dddddd;
							}
						}
					}

					input.contact-offer-input-radio {
						display: none;

						&:checked + label.contact-offer-label-radio {
							background-color: #ff0000;
							color: #ffffff;
							border: 2px solid #dddddd;
						}
					}

					label.contact-offer-label-radio {
						background-color: #ffffff;
						color: #000000;
						border: 2px solid #ff0000;
						text-align: center;
						width: 100%;
						border-radius: 15px;
						cursor: pointer;
						transition: 0.5s;
						height: 30px;
						display: flex;
						align-items: center;
						justify-content: center;

						&:hover {
							background-color: #ff0000;
							color: #ffffff;
						}

						&.highlight {
							background-color: rgba(255, 0, 0, 0.2);
						}
					}

					input.contact-offer-input-dimensions {
						width: 100%;
						border: 2px solid #ff0000;
						text-align: center;
						height: 30px;
						border-radius: 15px;
						transition: 0.5s;
						background-color: #ffffff;
						outline: none;

						&:focus {
							border: 2px solid #dddddd;
						}

						&:disabled {
							border: 2px solid #dddddd;
							cursor: not-allowed;

						}

						&.highlight {
							background-color: rgba(255, 0, 0, 0.2);
						}
					}

					input.contact-offer-text-input {
						width: 100%;
						border: 2px solid #ff0000;
						height: 30px;
						text-align: start;
						border-radius: 15px;
						transition: 0.5s;
						background-color: #ffffff;
						outline: none;

						&:focus {
							border: 2px solid #dddddd;
						}

						&.highlight {
							background-color: rgba(255, 0, 0, 0.2);
						}
					}

					textarea.contact-offer-textarea-input {
						width: 100%;
						border: 2px solid #ff0000;
						border-radius: 15px;
						resize: none;
						text-align: start;
						transition: 0.5s;
						background-color: #ffffff;
						outline: none;
						height: 100px;

						&:focus {
							border: 2px solid #dddddd;
						}

						&.highlight {
							background-color: rgba(255, 0, 0, 0.2);
						}
					}

					input.contact-offer-input-dropdown-other {
						width: 100%;
						border: 2px solid #ff0000;
						border-radius: 15px;
						transition: border 0.5s, background-color 0.5s;
						background-color: #ffffff;
						outline: none;

						&:focus {
							border: 2px solid #dddddd;
						}

						&.highlight {
							background-color: rgba(255, 0, 0, 0.2);
						}
					}

					input.contact-offer-input-lifting {
						width: 100%;
						border: 2px solid #ff0000;
						border-radius: 15px;
						background-color: #ffffff;
						transition: 0.5s;
						outline: none;

						&:focus {
							border: 2px solid #dddddd;
						}

						&.highlight {
							background-color: rgba(255, 0, 0, 0.2);
						}
					}

					div.row {
						&.contact-offer-input-dropdown-other {
							height: 0;
							transition: height 0.2s ease-in-out;

							&.contact-offer-input-dropdown-other-show {
								height: 38px;
							}
						}

						&.contact-offer-input-dropdown-maintenance-about {
							height: 0;
							transition: height 0.2s ease-in-out;

							&.contact-offer-input-dropdown-maintenance-about-show {
								height: 124px;
							}
						}

						div.contact-offer-input-dropdown-maintenance-about {
							transition: all 0.2s ease-in-out;
							transform: scaleY(0);
							-webkit-transform: scaleY(0);
							-webkit-transform-origin: top;
							transform-origin: top;
							height: 0;
							overflow: hidden;

							&.contact-offer-input-dropdown-maintenance-about-show {
								transform: scaleY(1);
								-webkit-transform: scaleY(1);
								height: 100px;
							}

							textarea.contact-offer-input-dropdown-maintenance-about {
								width: 100%;
								height: 60px;
								border: 2px solid #ff0000;
								border-radius: 15px;
								resize: none;
								outline: none;
								transition: 0.5s;

								&:focus {
									border: 2px solid #dddddd;
								}

								&.highlight {
									background-color: rgba(255, 0, 0, 0.2);
								}
							}
						}

						div.contact-offer-input-dropdown-other {
							transition: all 0.2s ease-in-out;
							transform: scaleY(0);
							-webkit-transform: scaleY(0);
							-webkit-transform-origin: top;
							transform-origin: top;
							height: 0;
							overflow: hidden;

							&.contact-offer-input-dropdown-other-show {
								transform: scaleY(1);
								-webkit-transform: scaleY(1);
								height: 30px;
							}
						}
					}

					select.contact-offer-input-select {
						width: 100%;
						height: 30px;
						border: 2px solid #ff0000;
						border-radius: 15px;
						outline: none;
						transition: 0.5s;
						cursor: pointer;

						&.contact-offer-input-select-disabled {
							border: 2px solid #dddddd;
							cursor: not-allowed;
						}

						&:focus {
							border: 2px solid #dddddd;
						}
					}

					div.contact-offer-dimensions-adnotation {
						text-align: center;

						p {
							margin-bottom: 0;
						}
					}

					div.contact-offer-number-inputs-container {
						border-radius: 15px;

						div.button-container {
							display: inline-block;
							width: 30px;
							height: 30px;

							&:nth-child(1) {
								button.contact-offer-number-button {
									border-top-left-radius: 15px;
									border-bottom-left-radius: 15px;
									border-left: 2px solid #ff0000;
									border-right: none;

									&.contact-offer-number-button-disabled {
										border-left: 2px solid #dddddd;
									}

									&:active {
										border-left: 2px solid #dddddd;
									}
								}
							}

							&:nth-child(3) {
								button.contact-offer-number-button {
									border-top-right-radius: 15px;
									border-bottom-right-radius: 15px;
									border-right: 2px solid #ff0000;
									border-left: none;

									&.contact-offer-number-button-disabled {
										border-right: 2px solid #dddddd;
									}

									&:active {
										border-right: 2px solid #dddddd;
									}
								}
							}

							button.contact-offer-number-button {
								width: 30px;
								height: 30px;
								border-top: 2px solid #ff0000;
								border-bottom: 2px solid #ff0000;
								outline: none;
								transition: 0.5s;
								background-color: #ffffff;

								&:hover {
									color: #ffffff;
									background-color: #ff0000;
								}

								&:active {
									color: #ffffff;
									background-color: #ff0000;
									border-top: 2px solid #dddddd;
									border-bottom: 2px solid #dddddd;
								}

								&.highlight {
									background-color: rgba(255, 0, 0, 0.2);
								}

								&.contact-offer-number-button-disabled {
									border-top: 2px solid #dddddd;
									border-bottom: 2px solid #dddddd;
									cursor: not-allowed;
									color: #aaaaaa;

									&:hover {
										color: #aaaaaa !important;
										background-color: #ffffff !important;
									}
								}
							}
						}

						div.input-container {
							display: inline-block;
							height: 30px;
							width: calc(100% - 60px);

							input.contact-offer-number-input {
								width: 100%;
								border: 2px solid #ff0000;
								border-radius: 0;
								outline: none;
								text-align: center;
								transition: 0.5s;
								height: 30px;

								&:disabled {
									border: 2px solid #dddddd;
									cursor: not-allowed;
								}

								&:focus {
									border-top: 2px solid #dddddd;
									border-bottom: 2px solid #dddddd;
								}

								&.highlight {
									background-color: rgba(255, 0, 0, 0.2);
								}
							}
						}
					}
				}
			}

			form.contact-form {
				div.contact-form-info-message-container {
					width: 100%;

					textarea.contact-info-textarea-input {
						width: 100%;
						border-radius: 15px;
						border: 2px solid #ff0000;
						transition: 0.5s;
						outline: none;
						resize: none;
						height: 200px;

						&.highlight {
							background-color: rgba(255, 0, 0, 0.2) !important;
						}

						&:focus {
							border: 2px solid #dddddd;
						}
					}
				}
			}
		}
	}
}