/*
	Main
*/
* {
	--bs-body-font-family: AcherusgrotesqueRegular, serif
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/*
	Bootstrap colors
*/
.btn-outline-danger {
	--bs-btn-color: #ff0000;
	--bs-btn-border-color: #ff0000;
}


/*
	Fonts
*/
@font-face {
	font-family: AcherusgrotesqueRegular;
	src: url(../../fonts/acherusgrotesque-regular.otf);
}

/*
	Navbar
*/
nav#navbartop {
	div.navbar-fill {
		width: 15%;
	}

	a.navbar-brand {
		img {
			height: 50px;
		}
	}
}

.navbar-toggler {
	width: 30px;
	height: 30px;
	padding: 0 !important;
	border: none !important;
	box-shadow: none !important;
	outline: none !important;
	position: relative;
	transition: 0.5s ease-in-out;
	display: flex;
	justify-content: center;

	span {
		margin: 0;
		padding: 0;

		&.toggler-icon {
			display: block;
			position: absolute;
			height: 2px;
			width: 100%;
			background-color: rgba(0,0,0,0.55);
			border-radius: 2px;
			left: 0;
			opacity: 1;
			transform: rotate(0deg);
			transition: 0.25s ease-in-out;

			&.middle-bar {
				margin-top: 0;
			}
		}

		&.top-bar {
			margin-top: 0;
			transform: rotate(135deg);
		}

		&.middle-bar {
			opacity: 0;
			filter: alpha(opacity=0);
		}

		&.bottom-bar {
			margin-top: 0;
			transform: rotate(-135deg);
		}
	}

	&.collapsed {
		span {
			&.toggler-icon {
				&.top-bar {
					margin-top: -20px;
					transform: rotate(0deg);
				}

				&.middle-bar {
					opacity: 1;
					filter: alpha(opacity=100);
				}

				&.bottom-bar {
					margin-top: 20px;
					transform: rotate(0deg);
				}
			}
		}
	}
}

/*
	Index
*/
// Main
section#indexMain {
	background: url("../../imgs/index/mainbackground.webp");
	height: calc(100vh - 60px);

	div.text-container {
		margin-left: auto;
		height: 100%;
		display: flex;
		align-items: center;
		animation: animMainText 0.75s ease-in-out;
		@media (min-width: 360px) {
			text-align: right;
		}

		@media (min-width: 768px) {
			width: 80%
		}

		@keyframes animMainText {
			0% {
				transform: translateX(-1000px);
			}
			100% {
				transform: translateX(0);
			}
		}

		div.text-wrapper {
			display: block;

			div.header-container {
				h1 {
					color: #ffffff;
					text-shadow: 0 0 5px #000000;
					@media (min-width: 360px) {
						font-size: 55px;
					}
					@media (max-width: 359px) {
						font-size: 40px;
					}
				}
			}

			div.subtitle-container {
				h5 {
					color: #ffffff;
					text-shadow: 0 0 5px #000000;
				}
			}


			div.divider {
				display: block;
				height: 5px;
				width: 100%;
				background-color: #ff0000;
			}
		}
	}

	div.img-container {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		animation: animMainImg 0.75s ease-out;

		@keyframes animMainImg {
			0% {
				transform: translateY(-800px);
			}
			100% {
				transform: translateY(0);
			}
		}

		img {
			width: 50%;
		}
	}
}

/*
	About
*/
section#about {
	background-color: #dddddd;
	scroll-margin-top: 60px;

	div.about-text-col {
		background-color: #ffffff;

		div.text-container {
			div.header-wrapper {
				h1 {
					font-size: 50px;
					font-weight: 300;
					color: #c6c6c6;
					margin-bottom: 0;
				}
			}

			div.divider {
				background-color: #ff0000;
				height: 5px;
				width: 100px;
			}
		}
	}

	div.about-img-col {
		background-color: #ffffff;

		div.img-container {
			overflow: hidden;
			max-height: 100%;
			img {
				width: 100%;
			}
		}
	}
}

/*
	Offer
*/
section#offer {
	scroll-margin-top: 60px;

	div.container {
		div.offer-header-container {
			text-align: center;

			h1 {
				font-size: 50px;
				font-weight: 300;
				color: #c6c6c6;
				margin-bottom: 0;
			}
		}

		div.divider {
			background-color: #ff0000;
			width: 100px;
			height: 5px;
		}

		div.row {
			div.offer-container {
				border-radius: 20px;
				width: 100%;
				background-color: #dddddd;
				border: #dddddd solid 2px;
				display: inline-grid;
				grid-template-columns: 20% 80%;
				transition: 0.5s;
				height: 100%;

				@media(max-width: 767px) {
					margin-bottom: 2%;
				}

				&:hover {
					transform: translateY(-10px);
					box-shadow: 0 25px 15px 5px rgba(0, 0, 0, 0.3);

					div.icon-container {
						border-color: #ff0000;
						i {
							&::before {
								color: #ff0000;
							}
						}
					}

					div.text-container {
						border-color: #ff0000;
					}
				}

				div.icon-container {
					width: 100%;
					text-align: center;
					background-color: #ffffff;
					border-bottom-left-radius: 15px;
					border-top-left-radius: 15px;
					height: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
					border-top: #ffffff solid 2px;
					border-left: #ffffff solid 2px;
					border-bottom: #ffffff solid 2px;
					transition: 0.5s;

					i {
						&::before {
							transition: 0.5s;

							@media(min-width: 992px) {
								transform: scale(400%);
							}

							@media(max-width: 991px) and (min-width: 351px) {
								transform: scale(300%);
							}

							@media(max-width: 350px) {
								transform: scale(250%);
							}
						}
					}
				}

				div.text-container {
					width: 100%;
					border-top: #ffffff solid 2px;
					border-right: #ffffff solid 2px;
					border-bottom: #ffffff solid 2px;
					border-top-right-radius: 15px;
					border-bottom-right-radius: 15px;
					transition: 0.5s;

					div.header-container {
						h3 {
							font-weight: 300;
							margin-bottom: 0;
						}

					}

					div.p-container {
						p {
							margin-bottom: 0;
						}
					}
				}
			}
		}
	}
}

/*
	Projects
*/
section#projects {
	scroll-margin-top: 60px;
	background-color: #dddddd;

	div.show-more-container {
		p#projectsCollapseButton {
			cursor: pointer;
			transition: 0.5s;

			&:hover {
				color: #ff0000;
			}
		}
	}

	div.header-container {
		text-align: center;

		h1 {

			font-weight: 300;
			color: #000000;
			margin-bottom: 0;
			@media (min-width: 360px) {
				font-size: 50px;
			}
			@media (max-width: 359px) {
				font-size: 40px;
			}
		}

		div.divider {
			background-color: #ff0000;
			width: 100px;
			height: 5px;
		}
	}

	div.img-container {
		display: flex;
		justify-content: center;

		img {
			transition: 0.5s;
			cursor: pointer;

			&:hover {
				transform: translateY(-6px);
				box-shadow: 0 15px 15px 5px rgba(0, 0, 0, 0.3);
			}
		}
	}
}

div.projects-gallery {
	display: none;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	z-index: 1;
	background-color: rgba(0,0,0,0.85);
	justify-content: center;
	align-items: center;

	div.close-container {
		position: absolute;
		right: 10px;
		top: 70px;
		width: 50px;
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: center;

		i {
			transition: 0.5s;
			cursor: pointer;

			&:hover {
				transform: rotate(180deg);
			}

			&::before {
				color: #ffffff;
				transform: scale(300%);
			}
		}
	}

	div.gallery-container {
		display: flex;
		@media (min-width: 360px) {
			width: 385px;
		}
		@media (max-width: 359px) and (min-width: 301px) {
			width: 290px;
		}
		@media (max-width: 300px) {
			width: 280px;
		}

		div.left-container {
			display: inline-block;
			@media (min-width: 360px) {
				max-width: 300px;
			}
			@media (max-width: 359px) and (min-width: 301px) {
				width: 230px;
			}
			@media (max-width: 300px) {
				width: 220px;
			}

			div.main-image-container {
				display: flex;
				justify-content: space-between;

				img {
					width: 100%;
				}

				div.arrows-container {
					position: absolute;
					display: flex;
					justify-content: space-between;
					@media (min-width: 360px) {
						width: 300px;
						height: 400px;
					}
					@media (max-width: 359px) and (min-width: 301px) {
						width: 230px;
						height: 307px;
					}
					@media (max-width: 300px) {
						width: 220px;
						height: 293px;
					}

					div.arrow-container {
						display: flex;
						justify-content: center;
						align-items: center;
						width: 30px;
						cursor: pointer;
						transition: 0.5s;

						&.arrow-container-left {
							&:hover {
								i {
									transform: translateX(-10px) !important;
								}
							}
						}

						&.arrow-container-right {
							&:hover {
								i {
									transform: translateX(10px) !important;
								}
							}
						}

						i {
							transition: 0.5s;

							&::before {
								color: #ffffff;
								transform: scale(300%);
							}
						}
					}
				}
			}

			div.title-container {
				text-align: center;

				h5 {
					color: #ffffff;
				}
			}
		}

		div.right-container {
			display: inline-block;
			margin-left: 15px;
			@media (min-width: 360px) {
				max-width: 70px;
			}
			@media (max-width: 359px) {
				width: 45px;
			}

			div.other-image-container {
				img {
					width: 100%;
					top: 0;
					margin-bottom: 10px;
					cursor: pointer;
					transition: 0.5s;

					&:hover {
						filter: brightness(50%);
					}
				}
			}
		}
	}
}

/*
	Clients
*/
section#clients {
	div.header-container {
		text-align: center;

		h1 {
			font-weight: 300;
			color: #000000;
			margin-bottom: 0;
			@media (min-width: 360px) {
				font-size: 50px;
			}
			@media (max-width: 359px) {
				font-size: 40px;
			}
		}

		div.divider {
			background-color: #ff0000;
			width: 100px;
			height: 5px;
		}
	}

	div.img-container {
		display: flex;
		justify-content: center;

		img {
			width: 200px;
			transition: 0.5s;

			&:hover {
				transform: translateY(-10px);
			}
		}
	}
}